@use "../global" as g;

.about {
    margin-bottom: 60px;

    @include g.max-w(sm) {
        margin-bottom: 30px;
    }

    .wrap_s {
        margin-bottom: 60px;

        @include g.max-w(sm) {
            margin-bottom: 30px;
        }
    }

    .title_about {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 70px;
        background-color: g.$accentcolor;
        @include g.max-w(sm) {
            height: 60px;
            h2 {
                font-size: 1.2em;
            }
        }
    }
}